# https://clangd.llvm.org/config
CompileFlags:
  Add: [
    "-Wno-c++11-compat-deprecated-writable-strings",
    "-Wno-undefined-inline",
    "-Wno-multichar",
  ]
---
If:
  PathMatch: .*\.inc
CompileFlags:
  Add: [
    "-Wno-return-type",
  ]
