# https://clangd.llvm.org/config
CompileFlags:
  Add: [
    "-fdeclspec",
    "-Wno-c++11-compat-deprecated-writable-strings",
    "-Wno-undefined-inline",
    "-Wno-multichar",
    "-Wno-c++11-extensions",
    "-Wsometimes-uninitialized",
    "-Wlogical-op-parentheses",
    "-Wbitwise-op-parentheses",
    "-Wunused-variable",
    # "-Wunused-but-set-variable",
    # "-Wunused-parameter",
    "-Wunused-but-set-parameter",
  ]
---
If:
  PathMatch: .*\.inc
CompileFlags:
  Add: ["-Wno-return-type"]
---
If:
  PathMatch: src/PowerPC_EABI_Support/MSL/MSL_C\+\+/.*\.h
CompileFlags:
  Add: ["--language=c++", "--std=c++98"]
