name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/zeldaret/tww-build:main
    strategy:
      fail-fast: false
      matrix:
        version: [GZLE01, GZLP01, GZLJ01]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Git config
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - name: Prepare
      run: cp -R /orig/${{matrix.version}} orig
    - name: Build
      run: |
        python configure.py --map --version ${{matrix.version}} --compilers /compilers
        ninja
    - name: Upload progress
      if: github.ref == 'refs/heads/main'
      continue-on-error: true
      env:
        PROGRESS_API_KEY: ${{secrets.PROGRESS_API_KEY}}
      run: |
        python tools/upload_progress.py -b https://progress.deco.mp/ -p tww -v ${{matrix.version}} \
          build/${{matrix.version}}/progress.json
    - name: Upload maps
      uses: actions/upload-artifact@v3
      with:
        name: ${{matrix.version}} maps
        path: build/${{matrix.version}}/**/*.MAP
